
.authBox {
  width: 270px;
  height: 270px;
  margin: auto;
  position: relative;
  background-color: #fff;

  .qrCode {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .qrCodeLoading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .refreshIconMask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
  }

  .refreshIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      cursor: pointer;
    }
  }
  .refreshTips {
    text-align: center;
    color: #676767;
    position: absolute;
    left: 0;
    width: 100%;
    top: 60%;
    font-weight: bold;
  }
}
